<%= javascript_pack_tag 'vertical_menu' %>

<div class="log-container chart">

 	<!-- 1. mdm chan yau kum -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmchan.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmchan_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmchan[0].participant.titlecase %> | <%= @mdmchan_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm chan yau kum -->

	<!-- 2. mdm wong sing heng -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmwong.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmwong_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmwong[0].participant.titlecase %> | <%= @mdmwong_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm wong sing heng -->


	<!-- 3. mdm lau kwee lian -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmlau.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmlau_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmlau[0].participant.titlecase %> | <%= @mdmlau_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm lau kwee lian -->

	<!--# 4. mdm maureen teo mdm rosy soon-->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmrosy.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmrosy_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmrosy[0].participant.titlecase %> | <%= @mdmrosy_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 4. mdm maureen teo mdm rosy soon -->


	<!-- 5.mr jimmy teo chin fook -->
	<div class="row">
		<div class="col">
			<%= line_chart @jimmy.pluck(:log_date, :reading), xtitle: "Time", ytitle: @jimmy_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @jimmy[0].participant.titlecase %> | <%= @jimmy_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 5.mr jimmy teo chin fook -->




	<!-- 6. mdm ann liow siew choo -->
	<div class="row">
		<div class="col">
			<%= line_chart @ann.pluck(:log_date, :reading), xtitle: "Time", ytitle: @ann_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @ann[0].participant.titlecase %> | <%= @ann_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 6. mdm ann liow siew choo -->




	<!--# 7. mr kang william-->
	<div class="row">
		<div class="col">
			<%= line_chart @mrkang.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mrkang_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mrkang[0].participant.titlecase %> | <%= @mrkang_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 7. mr kang william -->



	<!--# 8. kang weslyn-->
	<div class="row">
		<div class="col">
			<%= line_chart @weslyn.pluck(:log_date, :reading), xtitle: "Time", ytitle: @weslyn_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @weslyn[0].participant.titlecase %> | <%= @weslyn_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 8. kang weslyn -->



	<!--# 9. mdm susan liew-->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmsusan.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmsusan_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmsusan[0].participant.titlecase %> | <%= @mdmsusan_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 9. mdm susan liew -->




	<!--# 10. ms charlene koh-->
	<div class="row">
		<div class="col">
			<%= line_chart @charlene.pluck(:log_date, :reading), xtitle: "Time", ytitle: @charlene_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @charlene[0].participant.titlecase %> | <%= @charlene_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 10. ms charlene koh -->




	<!--# 11. mdm soh siew ngoh -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmsoh.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmsoh_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmsoh[0].participant.titlecase %> | <%= @mdmsoh_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 11. mdm soh siew ngoh -->



<!-- 12. mdm tan suang suang -->
	<div class="row">
		<div class="col">
			<%= line_chart @suang.pluck(:log_date, :reading), xtitle: "Time", ytitle: @suang_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @suang[0].participant.titlecase %> | <%= @suang_sensor.upcase %>
					</p>
		</div>
	</div>
<!-- end of 12. mdm tan suang suang -->


</div>