<%= javascript_pack_tag 'vertical_menu' %>

<div class="log-container chart">

 	<!-- 1. mdm chan yau kum -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmchan.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmchan_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmchan[0].participant.titlecase %> | <%= @mdmchan_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm chan yau kum -->

	<!-- 2. mdm wong sing heng -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmwong.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmwong_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmwong[0].participant.titlecase %> | <%= @mdmwong_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm wong sing heng -->


	<!-- 3. mdm lau kwee lian -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmlau.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmlau_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmlau[0].participant.titlecase %> | <%= @mdmlau_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm lau kwee lian -->

	<!--# 4. mdm maureen teo mdm rosy soon-->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmrosy.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmrosy_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmrosy[0].participant.titlecase %> | <%= @mdmrosy_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of 4. mdm maureen teo mdm rosy soon -->




</div>