<%= javascript_pack_tag 'vertical_menu' %>

<div class="log-container chart">

 	<!-- 1. mdm chan yau kum -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmchan.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmchan_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmchan[0].participant.titlecase %> | <%= @mdmchan_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm chan yau kum -->

	<!-- 2. mdm wong sing heng -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmwong.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmwong_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmwong[0].participant.titlecase %> | <%= @mdmwong_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm wong sing heng -->


	<!-- 3. mdm lau kwee lian -->
	<div class="row">
		<div class="col">
			<%= line_chart @mdmlau.pluck(:log_date, :reading), xtitle: "Time", ytitle: @mdmlau_sensor.upcase, width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mdmlau[0].participant.titlecase %> | <%= @mdmlau_sensor.upcase %>
					</p>
		</div>
	</div>
	<!-- end of mdm lau kwee lian -->





<!-- dummmy participant -->
	<div class="row">
		<div class="col">
			<%= line_chart @mr.pluck(:log_date, :reading), xtitle: "Time", ytitle: "Sound Level", width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mr[0].participant.titlecase %> | <%= @mr_sensor.titlecase %>
					</p>
		</div>
	</div>


		<div class="row">
			<div class="col">
				<%= line_chart @mdm.pluck(:log_date, :reading), xtitle: "Time", ytitle: "Air Quality", width: "800px", height: "300px", label: "Reading", colors: ["#48D1CC"] %>
					<p class="chart-participant">
						<%= @mdm[0].participant.titlecase %> | <%= @mdm_sensor.titlecase %>
					</p>
			</div>
		</div>
<!-- end of dummy participant -->


</div>