<%= javascript_pack_tag 'vertical_menu' %>
<div class="container chart">
	<div class="row">
		<div class="col">
			<%= line_chart @mr.pluck(:log_date, :reading), xtitle: "Time", ytitle: "Sound Level", width: "800px", height: "300px", label: "Reading", colors: ["#f00"] %>
					<p class="chart-participant">
						<%= @mr[0].participant.titlecase %> | <%= @mr_sensor.titlecase %>
					</p>
		</div>
	</div>


		<div class="row">
			<div class="col">
				<%= line_chart @mdm.pluck(:log_date, :reading), xtitle: "Time", ytitle: "Air Quality", width: "800px", height: "300px", label: "Reading", colors: ["#48D1CC"] %>
					<p class="chart-participant">
						<%= @mdm[0].participant.titlecase %> | <%= @mdm_sensor.titlecase %>
					</p>
		</div>
	</div>
</div>