<div class="container">

	<p id="notice"><%= notice %></p>

<!-- Page Content -->
	<div class="row">
		<% @logs.each do |log| %>
			<div class="card-deck col-lg-3 col-md-6 col-sm-12">
				<div class="card h-100">
						<a href="/logs/<%= log.id %>">
							<img class="card-img-top" src="<%= log.img %>" />
						</a>
					<div class="card-body">
							<p class="card-text-posted-by">
								<%= log.participant.titlecase %>
							</p>
							<p class="card-text-timestamp">
								<%= log.log_date.strftime("%b %d, %Y") %>
							</p>
							<p class="card-text-timestamp">
								<%= log.log_date.strftime("%l:%M %p") %>
							</p>
							<p class="card-text">
								<%= log.location.titlecase %>
							</p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<%= line_chart @logs.group_by_hour(:log_date).count %>
</div><!-- end of container -->