<p id="notice"><%= notice %></p>

<p>
  <strong>Log date:</strong>
  <%= @log.log_date %>
</p>

<p>
  <strong>Log time:</strong>
  <%= @log.log_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @log.location %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @log.participant %>
</p>

<p>
  <strong>Sensor type:</strong>
  <%= @log.sensor_type %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @log.reading %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @log.observation %>
</p>

<p>
  <strong>Img:</strong>
  <%= @log.img %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>