<div class="container">
	<div class="log-show col-md-5">
		<p id="notice"><%= notice %></p>

		<p class="log-text">
		  <img src="<%= @log.img %>" class="card-img-top" />
		</p>

		<p class="log-text">
		  <strong>Log date:</strong>
		  <%= @log.log_date %>
		</p>

		<p class="log-text">
		  <strong>Location:</strong>
		  <%= @log.location.titlecase %>
		</p>

		<p class="log-text">
		  <strong>Participant:</strong>
		  <%= @log.participant.titlecase %>
		</p>

		<p class="log-text">
		  <strong>Sensor type:</strong>
		  <%= @log.sensor_type.upcase %>
		</p>

		<p class="log-text">
		  <strong>Reading:</strong>
		  <%= @log.reading %>
		</p>

		<p class="log-text">
		  <strong>Observation:</strong>
		  <%= @log.observation %>
		</p>


		<p class="log-text">
			<%= link_to 'Edit', edit_log_path(@log) %> |
			<%= link_to 'Back', logs_path %> |
			<%= link_to 'Destroy', @log, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>

	</div>
</div>