<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


   <!-- Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,800,900&display=swap" rel="stylesheet">


    <!-- link to applicatin style sheet-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

		<!-- Container Wrapper -->
  	<!-- <div class="container col-md-8"> -->
  		<!-- Stories | Data -->
	  	<!-- <h3> Stories | Data </h3> -->
  	<!-- </div>End Container Wrapper -->

	  	<!-- Vertical Nav -->
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" href="<%= new_log_path %>">Input</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Output</a>
				</li>
			</ul>


    <%= yield %>
  </body>
</html>